*.user
*.ncb
*.suo
*.sdf
*.opensdf
.#*
*~
*.bak
ipch/
autom4te.cache/
objdir*/
obj.*/

.idea

# LaTeX/PDF produciton byproducts
*.aux
*.log
*.tex
*.toc
*.xwm
*.ref_rename_step

# Compiler produced temporaries
*.s
*.ii

# Patches
*.patch
*.diff

#
# From Github's C++.gitignore:
#

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.exp
